@import url('https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet');

body {
	margin: 0, auto;
	padding: 0;
	background: #ffffff url('https://images.unsplash.com/photo-1491977345698-16775008d007?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=41d67822924e1567e72f5168431585a8&auto=format&fit=crop&w=1500&q=80') no-repeat;	
	font-family: 'Pacifico', cursive;
}

.column-container { 
	display: flex; 
	flex-flow: wrap; 
	justify-content: space-around; 
	margin-top: 70px; 
}

.title  {
	color: white;
	font-family: 'Prosto One', cursive;
	font-size: 3.5em;
	text-align: center;
}

.column {
	float:left;
	background-color: #FED718;
	min-width: 300px;
	min-height:350px;
	padding: 10px;
	margin: 10px;
	box-shadow: 5px 5px 5px;
	font-size: 1.4em;
}


ul {
	list-style-type: none;
	margin-left:0;
	padding: 0;
	min-height: 100px;
}

h2.column-title {
	text-align: center;
	font-family: 'Prosto One', cursive;
	font-weight: bold;
	color: white;
	background-color: orange;
	padding: 20px;
	border-radius: 5px;
	border:2px solid white;
	font-size: 1.3em;
}

.create-column { 
	display: block; 
	margin: 20px auto;
	width: 200px; 
	font-size: 1.3em;
}

.btn-delete {
	position: relative; 
	top: -100px; right: -260px;
	background-color: #2A98B3;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 50px;
	font-family: 'Prosto One', cursive;
}
.card-description {
	background-color: white;
	margin-bottom: 5px;
	margin-top: 10px;
	padding:20px 10px;

}
.cardDelete {
	float: right;
	background-color: white;
	font-family: 'Prosto One', cursive;
	font-size: 0.7em;
}
.column-add-card{
	background-color: #2A98B3;
	color: white;
	margin-bottom: 3px;
	margin-left: 65px;
	border-radius: 5px;
	padding: 5px;
}
.column-add-card:hover {
	background-color: #286090;
	color: white;.column-add-card
}

